<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs'); %>
    <div class="container mt-4">
      <h1>Welcome to home</h1>
      <a href="/download">Download File</a>
    </div>

    <!-- /* this is for downloading a static
    file*/ -->
  </body>
</html>
